* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

div.wrapper {
    width: 87%;
    margin: auto;
    background-color: #222;
    color: #eee;
}

header {
    width: 100%;
    padding-top: 3vmin; 
    padding-bottom: 3vmin;
    border-bottom: 1px double whitesmoke;
}

header div.logo {
    display: block;
    float: left;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

nav {
    display: block;
}

ul {
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline-block;
    padding-left: 4vmin;
}

nav a {
    box-sizing: border-box;
    padding: 1vmin;
}

nav a:hover {
    background-color: gray;
    text-decoration: underline;
}

header a.contacts {
    display: block;
    float: right;
}

